<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenRecorder_Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="true" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OpenRecorder_Studio.Properties.Settings>
            <setting name="Account" serializeAs="String">
                <value />
            </setting>
            <setting name="MicrophoneAudio" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="ComputerAudio" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PresentCurrentScreen" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Usage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Saver" serializeAs="String">
                <value>.mp4</value>
            </setting>
            <setting name="SupportedProcessor" serializeAs="String">
                <value />
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>0</value>
            </setting>
        </OpenRecorder_Studio.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Svg" publicKeyToken="12a0bac221edeae2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>