<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="94.4.11" targetFramework="net461" />
  <package id="cef.redist.x86" version="94.4.11" targetFramework="net461" />
  <package id="CefSharp.Common" version="94.4.110" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="94.4.110" targetFramework="net461" />
  <package id="DiscordRichPresence" version="1.0.175" targetFramework="net461" />
  <package id="EasyTabs" version="2.0.0" targetFramework="net461" />
  <package id="Fizzler" version="1.2.1" targetFramework="net461" />
  <package id="Guna.UI2.WinForms" version="2.0.2.5" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="NAudio" version="1.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="ScreenRecorderLib" version="3.1.2" targetFramework="net461" />
  <package id="Svg" version="3.3.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Console" version="4.3.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net461" />
</packages>